body {
	font-family: 'Raleway', sans-serif;
	color: #222222;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default; 
}

#player {
	width: 100%;
	height: 100%;
	/*border-top: 10px solid transparent;*/
}

#player .controls {
/*width: 150px;*/
}

.player {
	background: rgba(255,255,255,0.8);
}

.player .controls div {
display: inline-block;
text-align: center;
opacity: 0.75;
cursor: pointer;
}

.header {
	height: 100%;
	padding: 20px;
}

.cover {
	height: 100%;
	display: table;
}

.cover a {
	display: table-cell;
	vertical-align: middle;
}

#waveform {
	/*width: 100%;*/
	height: 40px;
	margin:10px;
	position: relative;
	margin: 0;
	border-left: 1px solid #D6D6D6;
}
	#waveform .buffer, #waveform .played, #waveform > img { position:absolute; width: 0%; height:100%; }
	#waveform .buffer { background-color: #7C85CC;}
	#waveform .played { background-color: #9D95DF;}
	#waveform > img {  width: 100%; }

#playlist { display: none;}
	#playlist .active { font-weight: bold; }

.info {
	border-top: 1px solid #000;
	border-bottom: 1px solid;
	padding: 15px;
}

.artist-name {
	text-align: right;
}

.social {
	padding: 15px;
}

.controls {
	padding: 30px;
	color: #222;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.player-prev {
	font-size: 36px;
}

.player-prev:hover {
	opacity: 1;
}

.player-play {
	font-size: 42px;
	margin:0px 20px;
}

.player-play:hover {
	opacity: 1;
}

.player-next {
	font-size: 36px;
}

.player-next:hover {
	opacity: 1;
}

.track-content {
}

.title {
	border-left: 1px solid #D6D6D6;
	margin-left: 40px;
	height: 40px;
}

.track-user, .track-title {
	font-size: 12px;
	display: inline-block;
	margin: 14px 10px;
}

.track-title {
	font-weight: bold;
}

.player-divider {

}

.playlist {
	padding: 20px;
}

/*General*/

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  width: 100%;
  float: left; }

 .left {
  float: left !important; }

.right {
  float: right !important; }

@media only screen {
	.column.small-centered,
	  .columns.small-centered {
	    margin-left: auto;
	    margin-right: auto;
	    float: none !important; }

	  .column.small-uncentered,
	  .columns.small-uncentered {
	    margin-left: 0;
	    margin-right: 0;
	    float: left !important; }

	  .column.small-uncentered.opposite,
	  .columns.small-uncentered.opposite {
	    float: right; }

	.small-1 {
	width: 8.33333%; }

	.small-2 {
	width: 16.66667%; }

	.small-3 {
	width: 25%; }

	.small-4 {
	width: 33.33333%; }

	.small-5 {
	width: 41.66667%; }

	.small-6 {
	width: 50%; }

	.small-7 {
	width: 58.33333%; }

	.small-8 {
	width: 66.66667%; }

	.small-9 {
	width: 75%; }

	.small-10 {
	width: 83.33333%; }

	.small-11 {
	width: 91.66667%; }

	.small-12 {
	width: 100%; }
}