body {
	background: url(../img/squary.jpg) no-repeat;
	background-size: cover;
}

#player {
	width: 100%;
	max-width: 90.5em;
	height: 40px;
	background: rgba(255,255,255,0.8);
	position: fixed;
	bottom: 0;
	/*border-top: 10px solid transparent;*/
}

#player { }
	#player .controls {
		margin: 5px;
		padding:0px;
		/*width: 150px;*/
	}
		#player .controls div {
			display: inline-block;
			padding: 2px;
			margin: 5px;
			text-align: center;
			width: 28px;
			height: 28px;
			line-height: 16px;
			color: white;
			opacity: 0.75;
			cursor: pointer;
			background: no-repeat center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			background-size: cover;
			border-radius: 50%;
		}
		#player .controls div:hover {
			opacity: 1;
			background-color: #F18900;
		}
		#player .controls .play { background-image: url("../img/play.png"); margin: 2px; }
		#player .controls .pause { background-image: url("../img/pause.svg"); }
		#player .controls .stop { background-image: url("../img/stop.svg"); }
		#player .controls .next { background-image: url("../img/next.svg"); width: 21px; height: 21px; }
		#player .controls .prev { background-image: url("../img/prev.svg"); width: 21px; height: 21px; }

#waveform {
	/*width: 100%;*/
	height: 40px;
	margin:10px;
	position: relative;
	margin: 0;
	border-left: 1px solid #D6D6D6;
}
	#waveform .buffer, #waveform .played, #waveform > img { position:absolute; width: 0%; height:100%; }
	#waveform .buffer { background-color: #7C85CC;}
	#waveform .played { background-color: #9D95DF;}
	#waveform > img {  width: 100%; }

#playlist { display: none;}
	#playlist .active { font-weight: bold; }

.track-content {
}

.title {
	border-left: 1px solid #D6D6D6;
	margin-left: 40px;
	height: 40px;
}

.track-user, .track-title {
	font-size: 12px;
	display: inline-block;
	margin: 14px 10px;
}

.track-title {
	font-weight: bold;
}

.player-divider {

}
