body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
	color: #222222;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	position: relative;
	cursor: default; 
}

#player .controls {
/*width: 150px;*/
}

.player {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  min-width: 250px;  
}

.player .controls div {
display: inline-block;
text-align: center;
cursor: pointer;
}

.header {
	height: 100%;
  text-align: center;
  position: relative;
}

.cover {
	height: 100%;
	display: table;
  z-index: 1;
}

.cover a {
	display: table-cell;
	vertical-align: middle;
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
     -moz-animation: fadeIn 1s; /* Firefox */
      -ms-animation: fadeIn 1s; /* Internet Explorer */
       -o-animation: fadeIn 1s; /* Opera */
          animation: fadeIn 1s;
}

.cover a img {
  max-height: 150px;
  border-radius: 100%;
  margin: 20px 0px;
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
     -moz-animation: fadeIn 1s; /* Firefox */
      -ms-animation: fadeIn 1s; /* Internet Explorer */
       -o-animation: fadeIn 1s; /* Opera */
          animation: fadeIn 1s;
}

.waveform {
  position: absolute;
  left:0;
  right:0;
}

#playlist { display: none;}
	#playlist .active { font-weight: bold; }

.info {
  border-bottom: 1px solid;
	font-weight: bold;
  padding: 5px 45px;
}

.song-name {
  margin: 10px 0px 0px;
  text-align: center;
  font-size:14px;
  font-weight: normal;
  -webkit-animation: fadeInLeft 1s; /* Safari and Chrome */
     -moz-animation: fadeInLeft 1s; /* Firefox */
      -ms-animation: fadeInLeft 1s; /* Internet Explorer */
       -o-animation: fadeInLeft 1s; /* Opera */
          animation: fadeInLeft 1s;
}

.artist-name {
  margin: 10px 0px;
  text-align: center;
  -webkit-animation: fadeInLeft 1s; /* Safari and Chrome */
     -moz-animation: fadeInLeft 1s; /* Firefox */
      -ms-animation: fadeInLeft 1s; /* Internet Explorer */
       -o-animation: fadeInLeft 1s; /* Opera */
          animation: fadeInLeft 1s;
}

.follow-link {
  border-right: 1px solid;
}

.buy-link {
  border-left: 1px solid;
}

.follow-link img {
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}

.follow-link, .buy-link {
	letter-spacing: 2px;
	font-weight: 400;
	font-size: 14px;
}

.current-song-info {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
	font-size: 12px;
  text-align: center;
	padding-top: 1rem;
	padding-bottom: 1.0625rem;
}

.current-song-social-icon {
	font-size: 14px;
}

.controls {
	padding: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.player-prev {
	font-size: 36px;
  line-height: 50px !important;
  vertical-align: top;
  opacity: 0.8;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;  
}

.player-prev:hover {
	opacity: 1; 
  -webkit-transform: translateX(-5px);
    transform: translateX(-5px);

}

.player-play {
  width: 150px;
  line-height:50px !important;    
}

.fa-play-circle-o {
  font-size: 42px;
  opacity: 0.8;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.fa-play-circle-o:hover {
	opacity: 1;
  font-size: 48px;
}

.player-next {
	font-size: 36px;
  line-height: 50px !important;
  vertical-align: top;
  opacity: 0.8;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;  
}

.player-next:hover {
	opacity: 1;
  -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.fa-pause {
  font-size: 30px;
  line-height: 48px;
  vertical-align:middle;
  opacity: 0.8;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.fa-pause:hover {
    opacity: 1;
}

.scrubber {
  line-height: 50px;
  text-align: center;
  padding: 0px 10px;
  border-bottom: 1px solid;
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
     -moz-animation: fadeIn 1s; /* Firefox */
      -ms-animation: fadeIn 1s; /* Internet Explorer */
       -o-animation: fadeIn 1s; /* Opera */
          animation: fadeIn 1s;
}

.scrubber-box {
  display: inline-block;
}

.scrub-bar-box {
  display: table;
  padding: 24px 0px;
}

.scrub-bar {
  display: table-cell;
  vertical-align: middle;
  line-height: 50px;
  height: 5px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 3px;
  border: 1px solid;
}

.start-time, .stop-time {
  font-size: 12px;
  text-align: center;
}

.playlist-social-icon {
	font-size: 12px;
}

.title {
	border-left: 1px solid;
	margin-left: 40px;
	height: 40px;
}

.track-info-social {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.track-user, .track-title {
	font-size: 12px;
	display: inline-block;
	margin: 14px 10px;
}

.track-title {
	font-weight: bold;
}

.playlist {
	font-size: 12px;
}

.playlist-table {
	width: 100%;
}

.playlist-table tr {
	cursor: pointer;
	opacity: 0.5;
}

.playlist-table tbody tr:hover {
	cursor: pointer;
	opacity: 1;
  border-bottom: 1px solid;
}

.current-play-icon {
	font-size: 14px;
}

.playlist-table {
  border-spacing: 0px;
  border:0;
}

.playlist-table tbody tr.playing {
	opacity: 1;
}

.playlist-table tbody tr td {
  border-right:0px;
  border-left:0px;
  border-top:0px;
  border-bottom: 1px solid;
}

/*Slider*/
.slider {
  width: 100%;
  display:table-cell;
  vertical-align: middle;
  line-height: 50px;
}

.slider > .dragger {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
}

.slider > .track, .slider > .highlight-track {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 4px;
  border: 1px solid;
}

/*Equalizer*/
svg {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

/*General*/

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    padding-left: 0;
    padding-right: 0; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  width: 100%;
  float: left; }

 .left {
  float: left !important; }

.right {
  float: right !important; }

/*Single Player*/
.player.solo .cover {
  position: relative;
}

.player.solo .controls {
  border-top: 0px;
  border-bottom: 0px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0px;
}

.player.solo .solo-cover{
  display: table-cell;
  vertical-align: middle;
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
     -moz-animation: fadeIn 1s; /* Firefox */
      -ms-animation: fadeIn 1s; /* Internet Explorer */
       -o-animation: fadeIn 1s; /* Opera */
          animation: fadeIn 1s;
}

.player.solo .solo-cover img {
  max-height: 95px;
  border-radius: 100%;
  margin: 10px 0px;
  -webkit-animation: fadeIn 1s; /* Safari and Chrome */
     -moz-animation: fadeIn 1s; /* Firefox */
      -ms-animation: fadeIn 1s; /* Internet Explorer */
       -o-animation: fadeIn 1s; /* Opera */
          animation: fadeIn 1s;
}

.player.solo .scrubber {
  border-left: 1px solid;
}

.player.solo .solo-buttons {
  border-top: 1px solid;
}

.player.solo .buttons {
  margin: 35px 0px;
}

.player.solo .fa-play-circle-o {
  font-size: 55px;
  color: white;
  text-shadow: 0px 0px 5px #4E4E4E;
}

.player.solo .fa-pause {
  color: white;
  text-shadow: 0px 0px 5px #4E4E4E;
}

.player.solo .buy-link, .player.solo .follow-link {
  font-size: 10px;
}

.player.solo .song-name, .player.solo .artist-name, .player.solo .current-song-info {
  font-size: 12px;
}

.player.solo .info {
  border-left: 1px solid;
  padding: 6px 35px;
}

.player.solo .song-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player.solo .current-song-info {
  font-size: 10px;
}

.player.solo .current-song-social-icon {
  font-size: 10px;
}

/*Container Responsiveness*/
.follow-small, 
.buy-small {
  width: 100%;
}

.follow-small .follow-link { 
  border-right: 0px !important;
  border-top: 1px solid;
}

.buy-small .buy-link {
  border-left: 0px !important;
  border-top: 1px solid;
}
/*Animations*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
  }
}

@media only screen {
	.column.small-centered,
  .columns.small-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.small-uncentered,
  .columns.small-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.small-uncentered.opposite,
  .columns.small-uncentered.opposite {
    float: right; }

  .small-1 {
    width: 8.33333%; }

  .small-2 {
    width: 16.66667%; }

  .small-3 {
    width: 25%; }

  .small-4 {
    width: 33.33333%; }

  .small-5 {
    width: 41.66667%; }

  .small-6 {
    width: 50%; }

  .small-7 {
    width: 58.33333%; }

  .small-8 {
    width: 66.66667%; }

  .small-9 {
    width: 75%; }

  .small-10 {
    width: 83.33333%; }

  .small-11 {
    width: 91.66667%; }

  .small-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

	button, .button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  line-height: normal;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */
  color: #000;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  button:hover, button:focus, .button:hover, .button:focus {
    /*background-color: #2285a2;*/ }
  button:hover, button:focus, .button:hover, .button:focus {
    /*color: white; */}
  button.secondary, .button.secondary {
    background-color: #e9e9e9;
    border-color: #bababa;
    color: #333333; }
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      background-color: #bababa; }
    button.secondary:hover, button.secondary:focus, .button.secondary:hover, .button.secondary:focus {
      color: #333333; }
  button.success, .button.success {
    background-color: #5da423;
    border-color: #4a831c;
    color: white; }
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      background-color: #4a831c; }
    button.success:hover, button.success:focus, .button.success:hover, .button.success:focus {
      color: white; }
  button.alert, .button.alert {
    background-color: #c60f13;
    border-color: #9e0c0f;
    color: white; }
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
      background-color: #9e0c0f; }
    button.alert:hover, button.alert:focus, .button.alert:hover, .button.alert:focus {
      color: white; }
  button.large, .button.large {
    padding-top: 1.125rem;
    padding-right: 2.25rem;
    padding-bottom: 1.1875rem;
    padding-left: 2.25rem;
    font-size: 1.25rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  button.small, .button.small {
    padding-top: 0.875rem;
    padding-right: 1.75rem;
    padding-bottom: 0.9375rem;
    padding-left: 1.75rem;
    font-size: 0.8125rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
    /*     @else                            { font-size: $padding - rem-calc(2); } */ }
  button.expand, .button.expand {
    padding-right: 0;
    padding-left: 0;
    width: 100%; }
  button.left-align, .button.left-align {
    text-align: left;
    text-indent: 0.75rem; }
  button.right-align, .button.right-align {
    text-align: right;
    padding-right: 0.75rem; }
  button.radius, .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  button.round, .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px; }
}

table {}
  table thead,
  table tfoot {}
    table thead tr th,
    table thead tr td,
    table tfoot tr th,
    table tfoot tr td {
      padding: 0.5rem 0.625rem 0.625rem;
      text-align: left; }
  table tr th,
  table tr td {
    padding: 0.5625rem 0.625rem; }
  table tr.even, table tr.alt, table tr:nth-of-type(even) {}
  table thead tr th,
  table tfoot tr th,
  table tbody tr td,
  table tr td,
  table tfoot tr td {
    display: table-cell;
    line-height: 1.125rem; }
}


@media only screen and (min-width: 40.063em) {
  .column.medium-centered,
  .columns.medium-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.medium-uncentered,
  .columns.medium-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.medium-uncentered.opposite,
  .columns.medium-uncentered.opposite {
    float: right; }

  .medium-1 {
    width: 8.33333%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-3 {
    width: 25%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-6 {
    width: 50%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-9 {
    width: 75%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

}
@media only screen and (min-width: 64.063em) {
  .column.large-centered,
  .columns.large-centered {
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right; }

  .large-1 {
    width: 8.33333%; }

  .large-2 {
    width: 16.66667%; }

  .large-3 {
    width: 25%; }

  .large-4 {
    width: 33.33333%; }

  .large-5 {
    width: 41.66667%; }

  .large-6 {
    width: 50%; }

  .large-7 {
    width: 58.33333%; }

  .large-8 {
    width: 66.66667%; }

  .large-9 {
    width: 75%; }

  .large-10 {
    width: 83.33333%; }

  .large-11 {
    width: 91.66667%; }

  .large-12 {
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

}

@media only screen and (max-width: 40em){
  .track-info-stats {
    display: none;
  } 


  }
