body {
  background: url(https://s3-us-west-1.amazonaws.com/toneden-static/production/images/template/bg/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: normal;
}

#player {
	margin: 60px auto 0px;
}

.skin-change-container {
	text-align: center;
	margin-bottom: 20px;
}

.skin-change-btn {
	padding: 0px 9px;
	border-radius: 100%;
	margin: 0px 20px;
	opacity: 0.8;
}

.skin-change-btn:hover {
	opacity: 1;
}

.skin-change-btn.active {
	opacity: 1;
	border: 2px solid #3498db;
	box-sizing: border-box;
}

#light-btn {
	background: rgba(255,255,255,0.8);
}

#dark-btn {
	background: rgba(0,0,0,0.85);
}

#aurora-btn {
	background: #02DDA8;
}

#mojave-btn {
	background: #F58F86;
}