body {
  background: url(https://s3-us-west-1.amazonaws.com/toneden-static/production/images/template/bg/cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-weight: normal;
}

#player {
	width: 500px;
	height: 1000px;
	margin: 100px auto;
}
