
.player.light {
  background: rgba(255,255,255,0.8);
  color: black;
}

.player.dark {
  background: rgba(0,0,0,0.85);
  color: white;
}

.player.aurora {
    color: white;
    background: #192F41;
}

.player.mojave {
    color: white;
    background: #4F4E70;
}

.player.light div {
  border-color: #E4E4E4!important;
}

.player.dark div {
  border-color: #333 !important;
}

.player.aurora div {
    border-color: #1B4B4B !important;
}

.player.mojave div {
    border-color: #6D6C9A !important;
}

.player.light .waveform path {
    fill: none;
    stroke: #000;
}

.player.dark .waveform path {
    fill: none;
    stroke: white;
}

.player.aurora .waveform path {
    fill: none;
    stroke: #02DDA8;
}

.player.mojave .waveform path {
    fill: none;
    stroke: #F58F86;
}

.player.light .info {
  border-color: #E4E4E4;
}

.player.dark .info {
  border-color: #333;
}

.player.aurora .info {
  border-color: #1B4B4B;
}

.player.mojave .info {
  border-color: #6D6C9A;
}

.player.light .follow-link {
  border-color: #E4E4E4!important;
  color: #222;
}

.player.dark .follow-link {
  border-color: #333 !important;
  color: white;
}

.player.aurora .follow-link {
  border-color: #1B4B4B !important;
  color: white;
}

.player.mojave .follow-link {
  border-color: #6D6C9A !important;
  color: white;
}

.player.light .buy-link {
  border-color: #E4E4E4!important;
  color: #222;
}

.player.dark .buy-link {
  border-color: #333 !important;
  color: white;
}

.player.aurora .buy-link {
  border-color: #1B4B4B !important;
  color: white;
}

.player.mojave .buy-link {
  border-color: #6D6C9A !important;
  color: white;
}

.player.light .follow-link:hover,.player.light .buy-link:hover {
  background: rgba(255,255,255,0.8);
  color: #000;
}

.player.dark .follow-link:hover,.player.dark .buy-link:hover {
  background: rgba(0,0,0,0.8);
  color: white;
}

.player.aurora .follow-link:hover,.player.aurora .buy-link:hover {
  background: #122230;
  color: white;
}

.player.mojave .follow-link:hover,.player.mojave .buy-link:hover {
  background: #44435F;
  color: white;
}

.player.light .controls {
  color: #000;
  border-color: #E4E4E4;
}

.player.dark .controls {
  color: white;
  border-color: #333;
}

.player.aurora .controls {
  color: #02DDA8;
  border-color: #1B4B4B;
}

.player.mojave .controls {
  color: #F58F86;
  border-color: #6D6C9A;
}

.player.light .scrubber {
  border-color: #E4E4E4;
}

.player.dark .scrubber {
  border-color: #333;
}

.player.aurora .scrubber {
  border-color: #1B4B4B;
}

.player.mojave .scrubber {
  border-color: #6D6C9A;
}

.player.light .scrub-bar {
  border-color: #E4E4E4;
}

.player.dark .scrub-bar {
  border-color: #333;
}

.player.aurora .scrub-bar {
  border-color: #1B4B4B;
}

.player.mojave .scrub-bar {
  border-color: #6D6C9A;
}

.player.light .title {
  border-color: #D6D6D6;
}

.player.dark .title {
  border-color: #333;
}

.player.aurora .title {
  border-color: #1B4B4B;
}

.player.mojave .title {
  border-color: #6D6C9A;
}

.player.light .playlist-table tbody tr.playing {
  color: #000;
}

.player.dark .playlist-table tbody tr.playing {
  color: white;
}

.player.aurora .playlist-table tbody tr.playing {
  color: #02DDA8;
}

.player.mojave .playlist-table tbody tr.playing {
  color: white;
}

.player.light tbody tr:hover {
  border-color: rgba(175, 175, 175, 0.5);
}

.player.dark tbody tr:hover {
  border-color: rgba(175, 175, 175, 0.5);
}

.player.aurora tbody tr:hover {
  border-color: rgba(175, 175, 175, 0.5);
}

.player.mojave tbody tr:hover {
  border-color: rgba(175, 175, 175, 0.5);
}

.player.light .playlist-table tbody tr td {
  border-color: #E4E4E4;
}

.player.dark .playlist-table tbody tr td {
  border-color: #333;
}

.player.aurora .playlist-table tbody tr td {
  border-color: #1B4B4B;
}

.player.mojave .playlist-table tbody tr td {
  border-color: #6D6C9A;
}

.player.light .slider > .dragger {
  background: #BFC1CC;
}

.player.dark .slider > .dragger {
  background: #ACACAC;
}

.player.aurora .slider > .dragger {
  background: #ACACAC;
}

.player.mojave .slider > .dragger {
  background: #6D6C9A;
}

.player.light .slider > .dragger:hover {
   background: #000;
}

.player.dark .slider > .dragger:hover {
   background: white;
}

.player.aurora .slider > .dragger:hover {
   background: white;
}

.player.mojave .slider > .dragger:hover {
   background: white;
}

.player.light .slider > .track {
  background: #f8f8f8;
  border-color: #E4E4E4;
}

.player.dark .slider > .track {
   background: #494949;
  border-color: #333;
}

.player.aurora .slider > .track {
   background: #254364;
  border-color: #254364;
}

.player.mojave .slider > .track {
   background: #254364;
  border-color: #6D6C9A;
}

.player.light .slider > .highlight-track {
  border-color: #333;
  background: #000;
}

.player.dark .slider > .highlight-track  {
  border-color: #333;
  background: white;
}

.player.aurora .slider > .highlight-track  {
  border-color: #02DDA8;
  background: #02DDA8;
}

.player.mojave .slider > .highlight-track  {
  border-color: #F58F86;
  background: #F58F86;
}

.player.light .line {
  stroke: #000;
}

.player.dark .line {
  stroke: white;
}

.player.aurora .line {
  stroke: white;
}

.player.mojave .line {
  stroke: white;
}

.player.light .axis path, .player.light .axis line,{
  stroke: #000;
}

.player.dark .axis path, .player.dark .axis line,{
  stroke: white;
}

.player.aurora .axis path, .player.aurora .axis line,{
  stroke: white;
}

.player.mojave .axis path, .player.mojave .axis line,{
  stroke: white;
}

.player.light svg rect {
  fill: #000;
}

.player.dark svg rect {
  fill: white;
}

.player.aurora svg rect {
  fill: #02DDA8;
}

.player.mojave svg rect {
  fill: #F58F86;
}

.player.light .follow-small .follow-link {
  border-color: #E4E4E4!important;
}

.player.dark .follow-small .follow-link {
  border-color: #333 !important;
}

.player.aurora .follow-small .follow-link {
  border-color: #1B4B4B !important;
}

.player.mojave .follow-small .follow-link {
  border-color: #6D6C9A !important;
}

.player.light .buy-small .buy-link {
  border-color: #E4E4E4!important;
}

.player.dark .buy-small .buy-link {
  border-color: #333 !important;
}

.player.aurora .buy-small .buy-link {
  border-color: #1B4B4B !important;
}

.player.mojave .buy-small .buy-link {
  border-color: #6D6C9A !important;
}