<div class="td tdrow player {{skin}}">
    <div class="tdempty tdlarge-12 tdsmall-12 tdsmall-centered tdlarge-centered">
        <a href="https://www.toneden.io" target="_blank" class="td-icon-link"><i class="td-icon"></i></a>
        You have are no tracks to play.
    </div>
</div>
