<div class="td tdrow player {{skin}}">
    <div class="tdempty tdlarge-12 tdsmall-12 tdsmall-centered tdlarge-centered">
        <a href="https://www.toneden.io" target="_blank" class="icon-td_logo-link"><i class="icon-td_logo"></i></a>
        There are no tracks to play.
    </div>
</div>
