<div>
    <div class="title">
    </div>
    <br>
    <div class="controls">
        <a class="play">Play</a>
        <a class="pause">Pause</a>
        <br>
        <a class="prev">Previous</a>
        <a class="next">Next</a>
    </div>
</div>
