#player {
	width: 100%;
}

#player { position: relative; }
	#player .controls {
		width: 150px;
		display: inline-block;
		float: left;
	}
		#player .controls div {
			display: inline-block;
			padding: 2px;
			margin: 2px;
			text-align: center;
			width: 16px;
			height: 16px;
			line-height: 16px;
			color: white;
			opacity: 0.75;
			cursor: pointer;
			background: no-repeat center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-ms-background-size: cover;
			background-size: cover;
			border: 1px solid black;
		}
		#player .controls div:hover {
			opacity: 1;
			background-color: #F18900;
		}
		#player .controls .play { background-image: url("../images/play.svg"); }
		#player .controls .pause { background-image: url("../images/pause.svg"); }
		#player .controls .stop { background-image: url("../images/stop.svg"); }
		#player .controls .next { background-image: url("../images/next.svg"); }
		#player .controls .prev { background-image: url("../images/prev.svg"); }

#waveform {
	width: 100%;
	height: 60px;
	position: relative;
	display: inline-block;
	margin-left: 150px;
}
	#waveform .buffer, #waveform .played, #waveform > img { position:absolute; width: 0%; height:100%; }
	#waveform .buffer { background-color: hsla(180, 20%, 60%, .4);}
	#waveform .played { background-color: hsla(260, 20%, 60%, .4);}
	#waveform > img {  width: 100%; }

#playlist { display: none;}
	#playlist .active { font-weight: bold; }